<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meu Portfólio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Bem-vindo ao meu portfólio!</h1>
    <p>Olá, sou Gabriel e aqui você pode ver meus projetos.</p>
    <a href="/about">Saiba mais sobre mim</a>

    <div class="imagem-container">
        <img src="https://github.com/GabrielFSantana.png" alt="Minha Imagem" class="minha-imagem">
    </div>

    <a href="https://www.linkedin.com/in/gabrielsbelarmino/" target="_blank">
        <img src="https://upload.wikimedia.org/wikipedia/commons/0/01/LinkedIn_Logo_2022.png" alt="LinkedIn" width="40" height="40">
    </a>
    <a href="https://github.com/GabrielFSantana" target="_blank">
        <img src="https://upload.wikimedia.org/wikipedia/commons/9/91/Octicons-mark-github.svg" alt="GitHub" width="40" height="40">
    </a>

</body>
</html>
